:root {
  font-family: Inter, sans-serif;
}

body {
  margin: 0px !important;
  display: flex;
}

.section {
  height: 100vh;
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
}

.section-body {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.section-content {
  padding: 0px 90px;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
}

.section-header {
  display: inline-flex;
  justify-content: center;
}

.photo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 0.3;
}

.overlay-section {
  top: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.full-width {
  width: 100%;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.overlay-header {
  font-weight: 600;
  font-family: sans-serif;
}

@media (max-width: 768px) {
  .section-content {
    padding: 0px 10px;
  }
}

@media (min-width: 769px) {
  .section-content {
    padding: 0px 90px;
  }
}